@{
    ViewBag.Title = "Fashionable ME";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>               
            </hgroup>

        </div>
    </section>
}

@if (@ViewBag.OfferTitle == "none")
{
    <div style="width:auto;height:400px;text-align:center ; border: 10px dashed red; padding :inherit">
    <h1 style="color:red">Offer of the Day!!!</h1>
    <table style="align-self:center">
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td ><h1 style="align-items:center">No Offers Today!!! Visit again soon to find exciting offers!</h1></td> 
        </tr>
        
    </table>
</div>
}
else{
<div style="width:auto;height:400px;text-align:center ; border: 10px dashed red; padding :inherit">
    <h1 style="color:red">Offer of the Day!!!</h1>
    <table style="align-self:center">
        <tr>
            <td><h1 style="color:turquoise">2Day's Offer</h1></td>
            <td ><h1>@ViewBag.OfferTitle</h1></td>
        </tr>
        <tr>
            <td><h1 style="color:turquoise">Offer Description</h1></td>
            <td ><h1>@ViewBag.OfferDescription</h1></td>
        </tr>
        <tr>
            <td></td>
            <td><h2>@Html.ActionLink("View Offer Details", "OfferOfDay","Customer")</h2></td>
        </tr>
    </table>
</div>
}
<br />
<br />
<div id="new_div">
    
    <div id="left" class="inbox " style=" background-image:url('/Images/mens_style.jpg' ) ">
        <a href="/home/HisPage">Men's Apparel</a>
        
    </div>
    
    <div id="middle" class="inbox " style=" background-image:url('/Images/womens_style.jpg') ">
        <a href="/home/HerPage" > Women's Apparel</a>
    </div>
    
    <div id="right" class="inbox col-md-4" style=" background-image:url('/Images/kids_style.jpg' )">
       <a href="/home/KidPage">Kid's Apparel</a>
        
    </div>
    
</div>

<style>
    .inbox {
        border : 5px dotted seagreen ; margin-left:13px;
        background-size:  cover ;                      
        background-repeat: no-repeat;
        background-position: center center;
    }

</style>


