@model List<FashionableMe.Models.CartItem>

@{
    ViewBag.Title = "Cart";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        $(".editQuantity").hide();
        $(".updatePanel").hide();
        $(".cancel").hide();
        $("#EditQuantity").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 49 || e.which > 57)) {
                //display error message
                $("#errmsg").html("<h3 style='color:red'>Quantity should be greater than zero!</h3>").show().fadeOut(1000);
                return false;
            }
        });
        $(".edit").click(function () {
            var tr = $(this).parents('tr:first');
            var apparelID = $(this).prop('id');
            console.log("edit click", apparelID);
            tr.find("#Quantity").hide();
            tr.find("#Edit").hide();
            tr.find("#EditQuantity").show();
            tr.find(".updatePanel").show();
            tr.find("#Cancel").show();

        });
        $(".updatePanel").click(function () {
            var tr = $(this).parents('tr:first');
            var apparelID = $(this).prop('id');
            console.log(apparelID);
            var size = tr.find("#Size").text();
            console.log(size);
            var quantity = (tr.find("#EditQuantity").val());

            var searchUrl = '@Url.Action("updateCart", "Cart")';
                $.ajax({
                    url: searchUrl,
                    data: { id: apparelID, size:size, quantity:quantity },
                    type: "POST",
                    success: function (data) {
                        window.location.href = '@Url.Action("Index", "Cart")';
                    }
                    
                });
        });
        $(".cancel").click(function () {
            var tr = $(this).parents('tr:first');
            tr.find(".updatePanel").hide();
            tr.find("#EditQuantity").hide();
            tr.find("#Cancel").hide();
            tr.find("#Quantity").show();
            tr.find("#Edit").show();
            
        });
        

    });
    function updateQ(quant){

    }
    </script>
<h2>My Cart</h2>
<span id="errmsg"></span>
@if (@Session["cartUpdated"] == "true")
{
    Session["cartUpdated"] = "false";
    <h2 style="color:lightgreen">Availability for some products has changed! Please review updated quantity.</h2>
    
}

@if(@ViewBag.CartCount == "0"){
    <h2 style="color:red">No Products in Cart!!!</h2>
}
else
{
<table >
    <tr>
        <th>Apparel Name</th><th>Size</th><th>Quantity</th><th>Total Amount</th>
    </tr>
        @{
    decimal sum = 0;
    decimal price = 0;
        }
        @foreach (var item in (List<FashionableMe.Models.CartItem>)Session["cart"])
        {
            price = Math.Round((((item.Apparel.ApparelCost * (100 - @item.Apparel.ApparelDiscount)) / 100) * item.Quantity), 2);
            sum += price;
            <tr>
                <td>@item.Apparel.ApparelName</td>
                <td id="Size">@item.Apparel.ApparelSize</td>
                <td ><label class="quantity" id="Quantity" >@item.Quantity</label>
                <input class="editQuantity" id="EditQuantity" type="number" min="1" value="@item.Quantity" required/></td>
                <td>@price</td>
                
                <td>
                    <input type="button" class="edit" id="Edit" value="Edit" />
                    <input type="button" class="updatePanel" id="@item.Apparel.ApparelID" value="Update" />
                    <input type="button" class="cancel" id="Cancel" value="Cancel" />
                    @Html.ActionLink("Delete", "Delete", "Cart", new { id = item.Apparel.ApparelID, size = item.Apparel.ApparelSize }, null)</td>
            </tr>
            
            
        }
        <tr>
            <td align="right" colspan="5">Sum</td>
            <td>@sum</td>
        </tr>
</table>
<table><tr>
<td>@Html.ActionLink("Continue Shopping", "Index", "Home")</td>
    @*<td float="right"><input type="button" value="Proceed" id="proceed"/></td>*@
<td float="right" >@Html.ActionLink("Proceed", "Shipping", "Cart", new { @class = "my-class" })</td>

       </tr>
    </table>
}
<style>
#errmsg
{
color: red;
font-size:larger
}
a.my-class { color: #1ECDE0 }
a.my-class { font-size: x-large }

    </style>