@model FashionableMe.Models.CreditCard

@{
    ViewBag.Title = "PayByCredit";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<h2>PayByCredit</h2><br />
<script type="text/javascript">
    function validateForm() {
        $("#err").html("");
        var status = true;
        console.log($("#ExpiryMonth option:selected").val());
        if ($("#ExpiryMonth option:selected").val() == "") {
            $("#err").html("<h3 style=\"" + "color:red\"" + ">Please select Expiry Month</h3>");
            status = false;
        }
        if ($("#ExpiryYear option:selected").val() == "") {
            $("#err").append("<h3 style=\"" + "color:red\"" + ">Please select Expiry Year</h3>");
            status = false;

        }
        
        return status;
    }
    $(document).ready(function () {
        $("#pay").attr("disabled", true);
        $("#Reset").attr("disabled", false);
        $("#validate").attr("disabled", false);
        
        $("#myform").submit(function (e) {
            e.preventDefault();
            console.log("submit");
            $("#myform").validate();
            if ($("#myform").valid() && validateForm()) {
                        console.log("valid");
                
                        $("#success").html("<h3 style='color:green'>Validation Successful!</h3>");
                        $("#pay").attr("disabled", false);
                        $("#Reset").attr("disabled", true);
                        $("#validate").attr("disabled", true);

                    }
               
                console.log("out");

            
            return false;
        });

        $("#pay").click(function (e) {
            e.preventDefault();
            console.log("pay");
            var searchUrl = '@Url.Action("ConfirmOrder", "Cart")';
            console.log("in");
            $.ajax({
                url: searchUrl,
                type: "POST",
                data: { UserID: '@ViewBag.UserID' },
                success: function (data) {
                    console.log(data);
                    console.log(data.length);
                    if (data == "false")
                        $("#msgPanel").html("<h3 style='color:red'>Unable to confirm order!</h3>");
                    else
                        $("#msgPanel").html("<h3 style='color:green'>Order Confirmed! Transaction ID:" + data + "</h3>");
                    $("#pay").attr("disabled", true);
                    $("#Reset").attr("disabled", true);
                    $("#validate").attr("disabled", true);

                }
            });
                
        });

        $("#Reset").click(function () {
            $("#err").html("");
            $('input[type="number"]').val('');
            $('input[type="text"]').val('');
            $('input[type="password"]').val('');
        });
    });

</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id="myform"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="background-color:floralwhite; padding:20px; border:2px solid black">
        <legend>CreditCard</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CardHolderName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CardHolderName)
            @Html.ValidationMessageFor(model => model.CardHolderName)
        </div>

        <div class="editor-label">
            <h4>Card Number</h4>
        </div>
        <div class="editor-field" id="cardnumber" >
            @Html.EditorFor(model => model.CardNumber1) - @Html.EditorFor(model => model.CardNumber2) -@Html.EditorFor(model => model.CardNumber3) - @Html.EditorFor(model => model.CardNumber)
            @Html.ValidationMessageFor(model => model.CardNumber)
        </div>

        <div class="editor-label">
            <h4>Valid Till</h4>
        </div>
        <div>
        @Html.DropDownList("ExpiryMonth", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString() }), "Expiry Month")
        @Html.DropDownList("ExpiryYear", Enumerable.Range(DateTime.Now.Year, 20).Select(x => new SelectListItem { Text = x.ToString() }), "Expiry Year")
        </div>
        <br />
        <div id="err"></div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.CVV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CVV)
            @Html.ValidationMessageFor(model => model.CVV)
        </div>

        <p style="margin-left:200px">
            <input type="submit" class="btn-default" value="Validate Card Details" id="validate" />
            <input type="button" class="btn-default" value="Reset" id="Reset"/>
            <input type="button" class="btn-default" value="Pay Now" id="pay"/>
        </p>
    </fieldset>
}

<div id="success" class="message-success"></div>
<div id="msgPanel"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
#cardnumber input[type="number"]{
    width:80px !important;
}

.editor-label {
        float:left;
        width:200px;
    }
    label {
        width:250px;
    }
    .editor-field {
        margin-bottom:20px;
    }
    [type="radio"] {
        width:30px;
    }

</style>