@model FashionableMe.Models.DetailsViewModel

@{
    ViewBag.Title = "Shipping";
}

<h2>Shipping Address</h2>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        var address = '@Model.Address';
        var city ='@Model.City';
        var state = '@Model.State';
        var pincode = '@Model.Pincode';
        var mobno = '@Model.MobileNumber';

        var statusCode = parseInt(@ViewBag.statusCode);
        if (statusCode>0) {
            $("#Message").css("color","red");
        }
        $(".editor-field").children().prop("readonly", true);
        $(".editor-field").children().css("background-color","lightgrey");
        
        $("#radio").click(function() {
            if(($('#radio').is(':checked'))){
                $(".editor-field").children().prop("readonly", false);
                $(".editor-field").children().val('');
                $(".editor-field").children().css("background-color","white");
                $("#shipMsg").text("Items will be shipped to new address");
            }
            else{
                $("#Address").val(address);
                $("#City").val(city);
                $("#State").val(state);
                $("#Pincode").val(pincode);
                $("#MobileNumber").val(mobno);
                $(".editor-field").children().prop("readonly", true);
                $(".editor-field").children().css("background-color","lightgrey");
                $("#shipMsg").text("");
            }

        });
        
       

    });
</script>


<br /><br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DetailsViewModel</legend>
        @Html.HiddenFor(model => model.Name)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        <label style="color:red" id="shipMsg"></label>
        <table>
            <tr><td><input type="checkbox" id="radio" /></td><td>&nbsp &nbsp &nbsp &nbsp</td><td> <label>Ship to new Address</label></td>
            </tr>
       </table>
        <br />
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pincode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pincode)
            @Html.ValidationMessageFor(model => model.Pincode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobileNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileNumber)
            @Html.ValidationMessageFor(model => model.MobileNumber)
        </div>

    </fieldset>
    
    <input type="submit" value="Proceed To Checkout" class="btn-default" style="margin-left:200px" />
    
}


<style>
    .editor-label {
        float:left;
        width:200px;
    }
    label {
        width:250px;
    }
    .editor-field {
        margin-bottom:20px;
    }
    [type="radio"] {
        width:30px;
    }

   
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

