@model FashionableMe.Models.DetailsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>DetailsViewModel</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Address)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.City)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.City)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.State)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.State)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Pincode)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Pincode)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.MobileNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MobileNumber)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.IsMale)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IsMale)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
