@model FashionableMe.Models.LoginModel

@{
    ViewBag.Title = "Registered User Sign In To Your Account";
}
@*<h3 align="right"> @Html.ActionLink("Visit Site", "Index", "Home")</h3>*@
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    

</hgroup>
<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<br />
<br />

<section id="loginForm" style="background-color:ghostwhite;padding:20px;border:2px outset grey;box-shadow: 12px 12px 5px #888888 ">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        
        <ol>
            <li>
                @Html.LabelFor(m => m.UserID)
                @Html.TextBoxFor(m => m.UserID)
                @Html.ValidationMessageFor(m => m.UserID)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            
        </ol>
        <input type="submit" value="  Log in  " class="btn-primary" style="margin-left:200px"/>
    </fieldset><br /><br />
    <br />
    <p>
       <label>New User</label><input type="button" class="btn-info"  value="Create Your Account" onclick="location.href= '@Url.Action("Register", "Account")' "  />
    </p>

}
</section>
<style>
    label {
        width:200px;
    }

</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
