@model FashionableMe.Models.Customer

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <span id="IsRegistered">@ViewBag.Message</span>
    <fieldset>
        <legend>Customer</legend>
        <ol>
            <li>
             @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
            </li>
            <li>
            @Html.LabelFor(model => model.Address)
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
            </li>
            <li>
            @Html.LabelFor(model => model.City)
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
            </li>
            <li>
            @Html.LabelFor(model => model.State)
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
            </li>
            <li>
            @Html.LabelFor(model => model.Pincode)
            @Html.EditorFor(model => model.Pincode)
            @Html.ValidationMessageFor(model => model.Pincode)
            </li>
            <li>
            @Html.LabelFor(model => model.MobileNumber)
            @Html.EditorFor(model => model.MobileNumber)
            @Html.ValidationMessageFor(model => model.MobileNumber)
            </li>
            <li>
            @Html.LabelFor(model => model.DateOfBirth)
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
            </li>
            <li>
            @Html.LabelFor(model => model.IsMale)
            @Html.RadioButtonFor(model => model.IsMale, "true", new { Checked = "checked" })Male
            @Html.RadioButtonFor(model => model.IsMale, "false") Female
            @Html.ValidationMessageFor(model => model.IsMale)
            </li>
            <li>
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
            </li>
            <li>
            @Html.LabelFor(model => model.UserID)
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
            </li>
            <li>
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
            </li>
            <li>
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </li>
            <li>
                @Html.Label("Verification Code")
                <img src="/Home/ShowCaptchaImage" />
                @Html.Label("Security Code")
                @Html.TextBox("CaptchaText")
                
            </li>
        </ol>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</li>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
