@model FashionableMe.Models.Customer

@{
    ViewBag.Title = "Register";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        
    
        $("#captchaRefresh").click(function (e) {
            e.preventDefault();
                       
            var searchUrl = '@Url.Action("ShowCaptchaImage", "Home")';
                       
            $.ajax({
                url: searchUrl,
                type: "GET",
                
                success: function (data) {
                    
                    $("#captchaImage").attr("src", "/Home/ShowCaptchaImage");
                } 
            });
        });
            
        $("#reset").click(function() {
            $('input[type=text]').val('');
            $('input[type=tel]').val('');
            $('input[type=date]').val('');
            $('input[type=email]').val('');
            $('input[type=password]').val('');
            $('textarea').val('');
            $("input:checked").removeAttr("checked");
           
        });

        

        $.validator.addMethod("check_date_of_birth", function(value, element) {
            alert($('input[type=date]').val());
            var day = $("#dob_day").val();
            var month = $("#dob_month").val();
            var year = $("#dob_year").val();
            var age =  18;

            var mydate = new Date();
            mydate.setFullYear(year, month-1, day);

            var currdate = new Date();
            currdate.setFullYear(currdate.getFullYear() - age);

            return currdate > mydate;

        }, "You must be at least 18 years of age.");

        $("form").validate({
            rules: {
                dob_year: { check_date_of_birth: true }
            }
        });


    });

</script>



<h2>Register</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <span id="IsRegistered">@ViewBag.Message</span>
    <fieldset>
        <legend>Customer</legend>
        <ol>
            <li>
             @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
            </li>
            <li>
            @Html.LabelFor(model => model.Address)
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
            </li>
            <li>
            @Html.LabelFor(model => model.City)
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
            </li>
            <li>
            @Html.LabelFor(model => model.State)
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
            </li>
            <li>
            @Html.LabelFor(model => model.Pincode)
            @Html.EditorFor(model => model.Pincode)
            @Html.ValidationMessageFor(model => model.Pincode)
            </li>
            <li>
            @Html.LabelFor(model => model.MobileNumber)
            @Html.EditorFor(model => model.MobileNumber)
            @Html.ValidationMessageFor(model => model.MobileNumber)
            </li>
            <li>
            @Html.LabelFor(model => model.DateOfBirth)
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
            </li>
            <li>
            @Html.LabelFor(model => model.IsMale)
            @Html.RadioButtonFor(model => model.IsMale, "true")Male
            @Html.RadioButtonFor(model => model.IsMale, "false") Female
            @Html.ValidationMessageFor(model => model.IsMale)
            </li>
            <li>
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
            </li>
            <li>
            @Html.LabelFor(model => model.UserID)
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
            </li>
            <li>
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
            </li>
            <li>
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </li>
            <li>
                @Html.Label("Verification Code")
                <div id="captcha">
                <img src="/Home/ShowCaptchaImage" id="captchaImage"/></div> <input type="button" value="Refresh" id="captchaRefresh" />
                @Html.Label("Security Code")
                @Html.TextBox("CaptchaText")
                
            </li>
        </ol>
        <p>
            <input type="button" value="Reset" id="reset" />&nbsp&nbsp&nbsp<input type="submit" value="Sign Up" />&nbsp&nbsp&nbsp<input type="button" value="Cancel" onclick="location.href= '@Url.Action("Index", "Home")' " />
        </p>
    </fieldset>
}


    
</li>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
