@model FashionableMe.Models.AddApparel

@{
    ViewBag.Title = "Add or Update Apparel";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
    
    $(document).ready(function () {
        $("#updatePanel").hide();
        $("#small").hide();
        $("#medium").hide();
        $("#large").hide();
        $("#StxtBUttonMF").hide();
        $("#MtxtBUttonMF").hide();
        $("#LtxtBUttonMF").hide();
        $("#quantityPanelMF").hide();
        $("#quantityPanelKid").hide();
        $("#SchkButton").change(function (e) {
            if (this.checked) {
                $("#small").show();
            }
            else {
                $("#small").hide();
            }
        });
        $("#MchkButton").change(function (e) {
            if (this.checked) {
                $("#medium").show();
            }
            else {
                $("#medium").hide();
            }
        });
        $("#LchkButton").change(function (e) {
            if (this.checked) {
                $("#large").show();
            }
            else {
                $("#large").hide();
            }
        });

        $("#SchkButtonMF").change(function (e) {
            if (this.checked) {
                $("#StxtBUttonMF").show();
            }
            else {
                $("#StxtBUttonMF").hide();
            }
        });
        $("#MchkButtonMF").change(function (e) {
            if (this.checked) {
                $("#MtxtBUttonMF").show();
            }
            else {
                $("#MtxtBUttonMF").hide();
            }
        });
        $("#LchkButtonMF").change(function (e) {
            if (this.checked) {
                $("#LtxtBUttonMF").show();
            }
            else {
                $("#LtxtBUttonMF").hide();
            }
        });

        $('#radio').click(function () {
            if ($('#addRadioButton').is(':checked'))
            {
                $("#updatePanel").hide();
                $("#addPanel :input[type=text-box]").val('');
                $("#addPanel").show();

            }
            if ($('#updateRadioButton').is(':checked'))
            {

                $("#addPanel").hide();
                $("#updatePanel").show();
                $("#updateButton").show();
                $("#saveButton").hide();
                $("#cancelButton").hide();
                $("#updatePanel :input").attr("disabled", true);
                $("#updatePanel :input[type=button]").attr("disabled", false);
                $("#updatePanel :input[type=date]").attr("disabled", false);

            }
        });
        
        $("#apparel_ApparelCategory").change(function (e) {
            e.preventDefault();
           
            if ($(this).val() == "1" || $(this).val() == "2") {
                $("#quantityPanelKid").hide();
                $("#quantityPanelMF").show();
            }
            if ($(this).val() == "3") {
                $("#quantityPanelMF").hide();
                $("#quantityPanelKid").show();

            }
        });
        $("#fetchDetails").click(function (e) {
                
                var dateToFetch = $("#updatePanel").find("input[type=date]").val();
                console.log(dateToFetch);
                $('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        console.log($(this).val());
                    }
                });
                var searchUrl = '@Url.Action("fetchByDate", "Admin")';
                    
                    $.ajax({
                        url: searchUrl,
                        data: { date: dateToFetch },
                        type: "POST",
                        
                        success: function (data) {
                            console.log(data);
                            var rs = JSON.parse(data);
                            console.log(rs["OfferName"]);
                            if (rs["ApparelID"] == "0") {
                                $("#resultPanel").html("<h2>No Offer with  the given date!!!</h2>");
                            }
                            else {
                                $("#resultPanel").html("");
                                
                                $("#updatePanel input[id=OfferName]").val(rs["OfferName"]);
                                $("#updatePanel input[id=ApparelID]").val(rs["ApparelID"]);
                                $("#updatePanel textarea[id=OfferDescription]").val(rs["OfferDescription"]);
                                $("#updatePanel input[id=Discount]").val(rs["Discount"]);

                                $("#updtePanel").html(data);
                                $("#updatePanel :input").attr("disabled", true);
                                $("#updatePanel :input[type=button]").attr("disabled", false);
                                $("#updatePanel :input[type=date]").attr("disabled", false);
                            }
                        }
                    });
            });
        
        $("#updateButton").click(function () {
            $("#updatePanel :input").attr("disabled", false);
            $("#updatePanel input[id=ApparelID]").attr("disabled", true);
            $("#updateButton").hide();
            $("#saveButton").show();
            $("#cancelButton").show();


        });

        $("#cancelButton").click(function () {
            console.log("cancel");
            $('#updatePanel :input[type=number]').val('');
            $('#updatePanel :input[type=text]').val('');
            $('#updatePanel #OfferDescription').val('');


        });

        $("#saveButton").click(function (e) {
            var searchUrl = '@Url.Action("UpdateOffer", "Admin")';
            var offerName = $("#updatePanel input[id=OfferName]").val();
            var offerDescription = $("#updatePanel textarea[id=OfferDescription]").val();
            var offerDiscount = $("#updatePanel input[id=Discount]").val();
            var offerDate = $("#updatePanel input[id=OfferDate]").val();

            $.ajax({
                url: searchUrl,
                data: { offerDate: offerDate, offerName: offerName, offerDescription: offerDescription, offerDiscount: offerDiscount },
                type: "POST",

                success: function (data) {
                    console.log(data);
                    if (data == "true") {
                        $("#resultPanel").html("<h2>Offer Updated Successfully!!!</h2>");
                        $("#updatePanel :input").attr("disabled", true);
                        $("#updatePanel :input[type=date]").attr("disabled", false);
                        $("#updatePanel :input[id=fetchDetails]").attr("disabled", false);

                    }
                    else {
                        $("#resultPanel").html("<h2>Unable to update Offer!!!</h2>");

                    }
                }
            });
        });

        $("#deleteButton").click(function (e) {
            var searchUrl = '@Url.Action("DeleteOffer", "Admin")';
            var offerDate = $("#updatePanel input[id=OfferDate]").val();

            $.ajax({
                url: searchUrl,
                data: { offerDate:offerDate},
                type: "POST",

                success: function (data) {
                    console.log(data);
                    if (data=="true") {
                        $("#resultPanel").html("<h2>Offer Deleted Successfully!!!</h2>");
                        $("#updatePanel :input").attr("disabled", true);
                        $("#updatePanel :input[type=date]").attr("disabled", false);
                        $("#updatePanel :input[id=fetchDetails]").attr("disabled", false);

                    }
                    else {
                        $("#resultPanel").html("<h2>Unable to delete Offer!!!</h2>");

                    }
                }
            });
        });    

    });
    function testfun(e) {
        
        $("#ApparelID").val(e);
    }
    function checkDate() {
        var EnteredDate = $('input[type=date]').val(); // For JQuery
        
        var date = EnteredDate.substring(8, 10);
        var month = EnteredDate.substring(5, 7);
        var year = EnteredDate.substring(0, 4);
        
        var myDate = new Date(year, month - 1, date);

        var today = new Date();

        if (myDate < today) {
            alert("Entered date should be greater than today's date ");
        }
    }
</script>

<h2>Add or Update Offer</h2>
<div id="radio">
    What would you like to do <input type="radio" id="addRadioButton" value="Add" name="same" checked>Add &nbsp &nbsp &nbsp
  <input type="radio" id="updateRadioButton" name="same" value="Update">Update
</div>
<div><h1>@ViewBag.Message</h1></div>
<div id="addPanel">
    <h2>Add Apparel Items</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Apparel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.apparel.ApparelCategory)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.apparel.ApparelCategory, new SelectList(ViewBag.categoryData, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.apparel.ApparelCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apparel.ApparelName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apparel.ApparelName)
            @Html.ValidationMessageFor(model => model.apparel.ApparelName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apparel.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apparel.Description)
            @Html.ValidationMessageFor(model => model.apparel.Description)
        </div>

        <div class="editor-label">
            
            @Html.LabelFor(model => model.apparel.BrandName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apparel.BrandName)
            @Html.ValidationMessageFor(model => model.apparel.BrandName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apparel.ApparelCost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apparel.ApparelCost)
            @Html.ValidationMessageFor(model => model.apparel.ApparelCost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apparel.ApparelImage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apparel.ApparelImage)
            @Html.ValidationMessageFor(model => model.apparel.ApparelImage)
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.apparel.ApparelDiscount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apparel.ApparelDiscount)
            @Html.ValidationMessageFor(model => model.apparel.ApparelDiscount)
        </div>

        <div id="quantityPanelKid">
            <table>
                <thead><tr><th>Select Age</th><th>Quantity</th></tr></thead>
                <tr><td><input type="checkbox" id="SchkButton" value="1" >0-1 Years</td><td>@Html.EditorFor(model => model.small)</td></tr>
                <tr><td><input type="checkbox" id="MchkButton" value="2" >2-3 Years</td><td>@Html.EditorFor(model => model.medium)</td></tr>
                <tr><td><input type="checkbox" id="LchkButton" value="3" >4-5 Years</td><td>@Html.EditorFor(model => model.large)</td></tr>
            </table>
        </div>
        <div id="quantityPanelMF">
            <table>
                <thead><tr><th>Select Size</th><th>Quantity</th></tr></thead>
                <tr><td><input type="checkbox" id="SchkButtonMF" value="1" >Small</td> <td id="StxtBUttonMF">@Html.EditorFor(model => model.small)</td></tr>
                <tr><td><input type="checkbox" id="MchkButtonMF" value="2" >Medium</td><td id="MtxtBUttonMF">@Html.EditorFor(model => model.medium)</td></tr>
                <tr><td><input type="checkbox" id="LchkButtonMF" value="3" >Large</td> <td id="LtxtBUttonMF">@Html.EditorFor(model => model.large)</td></tr>
            </table>
        </div>
        <p>
            <input type="submit" value="Add item" />
        </p>
    </fieldset>
}
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
