@model FashionableMe.Models.Offer

@{
    ViewBag.Title = "Offer";
}

     <style type="text/css">
        .table { margin: 4px;  width: 500px;  background-color:#FCFCFC; column-gap:1em}
        .head { background-color: #C1D4E6; font-weight: bold; color: #FFF; }
        .webGrid th, .webGrid td { border: 1px solid #C0C0C0; padding: 10px; }
        .altRow { background-color: #E4E9F5; color: #000; }
        .gridHead a:hover {text-decoration:underline;}
        .description { width:auto}
        .selectRow{background-color: #389DF5}
    </style>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
    
    $(document).ready(function () {
        $("#updatePanel").hide();
        
        $("#Category").change(function (e) {
            e.preventDefault();
            var searchUrl = '@Url.Action("searchByCategory", "Admin")';
            var rsltval = $(this).val();
            if ($(this).val() == "1" || $(this).val() == "2" || $(this).val() == "3") {
            $.ajax({
                url: searchUrl,
                data: { val: rsltval },
                type: "POST",
                success: function (data) {
                    $("#dynm").html(data);
                }
            });
        }
        });

        $('#radio').click(function () {
            if ($('#addRadioButton').is(':checked'))
            {
                $("#updatePanel").hide();
                $("#addPanel :input[type=text-box]").val('');
                $("#addPanel").show();

            }
            if ($('#updateRadioButton').is(':checked'))
            {

                $("#addPanel").hide();
                $("#updatePanel").show();
                $("#updateButton").show();
                $("#saveButton").hide();
                $("#cancelButton").hide();
                $("#updatePanel :input").attr("disabled", true);
                $("#updatePanel :input[type=button]").attr("disabled", false);
                $("#updatePanel :input[type=date]").attr("disabled", false);

            }
        });
        
        $("#fetchDetails").click(function (e) {
                
                var dateToFetch = $("#updatePanel").find("input[type=date]").val();
                console.log(dateToFetch);
                
                var searchUrl = '@Url.Action("fetchByDate", "Admin")';
                
                    $.ajax({
                        url: searchUrl,
                        data: { date: dateToFetch },
                        type: "POST",
                        
                        success: function (data) {
                            console.log(data);
                            var rs = JSON.parse(data);
                            console.log(rs["OfferName"]);
                            if (rs["ApparelID"] == "0") {
                                $("#resultPanel").html("<h2>No Offer with  the given date!!!</h2>");
                            }
                            else {
                                $("#resultPanel").html("");
                                
                                $("#updatePanel input[id=OfferName]").val(rs["OfferName"]);
                                $("#updatePanel input[id=ApparelID]").val(rs["ApparelID"]);
                                $("#updatePanel textarea[id=OfferDescription]").val(rs["OfferDescription"]);
                                $("#updatePanel input[id=Discount]").val(rs["Discount"]);

                                $("#updtePanel").html(data);
                                $("#updatePanel :input").attr("disabled", true);
                                $("#updatePanel :input[type=button]").attr("disabled", false);
                                $("#updatePanel :input[type=date]").attr("disabled", false);
                            }
                        }
                    });
            });
        
        $("#updateButton").click(function () {
            $("#updatePanel :input").attr("disabled", false);
            $("#updatePanel input[id=ApparelID]").attr("disabled", true);
            $("#updateButton").hide();
            $("#saveButton").show();
            $("#cancelButton").show();


        });

        $("#cancelButton").click(function () {
            console.log("cancel");
            $('#updatePanel :input[type=number]').val('');
            $('#updatePanel :input[type=text]').val('');
            $('#updatePanel #OfferDescription').val('');


        });

        $("#saveButton").click(function (e) {
            var searchUrl = '@Url.Action("UpdateOffer", "Admin")';
            var offerName = $("#updatePanel input[id=OfferName]").val();
            var offerDescription = $("#updatePanel textarea[id=OfferDescription]").val();
            var offerDiscount = $("#updatePanel input[id=Discount]").val();
            var offerDate = $("#updatePanel input[id=OfferDate]").val();

            $.ajax({
                url: searchUrl,
                data: { offerDate: offerDate, offerName: offerName, offerDescription: offerDescription, offerDiscount: offerDiscount },
                type: "POST",

                success: function (data) {
                    console.log(data);
                    if (data == "true") {
                        $("#resultPanel").html("<h2>Offer Updated Successfully!!!</h2>");
                        $("#updatePanel :input").attr("disabled", true);
                        $("#updatePanel :input[type=date]").attr("disabled", false);
                        $("#updatePanel :input[id=fetchDetails]").attr("disabled", false);

                    }
                    else {
                        $("#resultPanel").html("<h2>Unable to update Offer!!!</h2>");

                    }
                }
            });
        });

        $("#deleteButton").click(function (e) {
            var searchUrl = '@Url.Action("DeleteOffer", "Admin")';
            var offerDate = $("#updatePanel input[id=OfferDate]").val();

            $.ajax({
                url: searchUrl,
                data: { offerDate:offerDate},
                type: "POST",

                success: function (data) {
                    console.log(data);
                    if (data=="true") {
                        $("#resultPanel").html("<h2>Offer Deleted Successfully!!!</h2>");
                        $("#updatePanel :input").attr("disabled", true);
                        $("#updatePanel :input[type=date]").attr("disabled", false);
                        $("#updatePanel :input[id=fetchDetails]").attr("disabled", false);

                    }
                    else {
                        $("#resultPanel").html("<h2>Unable to delete Offer!!!</h2>");

                    }
                }
            });
        });    

    });
    function testfun(e) {
        
        $("#ApparelID").val(e);
    }
    function checkDate() {
        var EnteredDate = $('input[type=date]').val(); // For JQuery
        
        var date = EnteredDate.substring(8, 10);
        var month = EnteredDate.substring(5, 7);
        var year = EnteredDate.substring(0, 4);
        
        var myDate = new Date(year, month - 1, date);

        var today = new Date();

        if (myDate < today) {
            alert("Entered date should be greater than today's date ");
        }
    }
</script>

<h2>Add or Update Offer</h2>
<div id="radio">
    What would you like to do <input type="radio" id="addRadioButton" value="Add" name="same" checked>Add &nbsp &nbsp &nbsp
  <input type="radio" id="updateRadioButton" name="same" value="Update">Update
</div>
<div><h1>@ViewBag.Message</h1></div>
<div id="addPanel">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Offer</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.OfferName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferName)
            @Html.ValidationMessageFor(model => model.OfferName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfferDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferDescription)
            @Html.ValidationMessageFor(model => model.OfferDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
            
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.categoryData, "Value", "Text"))
           
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div id="dynm"></div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.OfferDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferDate)
            @Html.ValidationMessageFor(model => model.OfferDate)
        </div>

        <div class="editor-label" >
            @Html.LabelFor(model => model.ApparelID)
        </div>
        <div class="editor-field" id="apparelIDToChange">
            @Html.EditorFor(model => model.ApparelID)
            @Html.ValidationMessageFor(model => model.ApparelID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Discount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Discount)
            @Html.ValidationMessageFor(model => model.Discount)
        </div>

        <p>
            <input type="submit" value="Create" onclick="checkDate();"/>
        </p>
    </fieldset>
}
</div>

<div id="updatePanel">
    <div id="resultPanel"></div>
    <h1>update</h1>
    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Offer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfferDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferDate)
            @Html.ValidationMessageFor(model => model.OfferDate)
        </div>
        <input type="button" value="Fetch Details" id="fetchDetails" />

        <div class="editor-label">
            @Html.LabelFor(model => model.OfferName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferName)
            @Html.ValidationMessageFor(model => model.OfferName)
        </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.ApparelID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApparelID)
            @Html.ValidationMessageFor(model => model.ApparelID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfferDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferDescription)
            @Html.ValidationMessageFor(model => model.OfferDescription)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Discount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Discount)
            @Html.ValidationMessageFor(model => model.Discount)
        </div>

        
            <table><tr>
                <td><input type="button" value="Delete Offer" id="deleteButton" /></td>
            
                <td ><input type="button" value="Update Offer" id="updateButton" /><input type="button" value="Save" id="saveButton" /><input type="button" value="Cancel" id="cancelButton" /></td>
                   </tr></table>
    </fieldset>
}

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
