@model FashionableMe.Models.Offer

@{
    ViewBag.Title = "Offer";
}

     
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript">
    
    $(document).ready(function () {
        $("#updatePanel").hide();
        ast = $("<b> * <b>").css("color", "red");
        $(".editor-label").children().append(ast);
        $("#Category").change(function (e) {
            e.preventDefault();
            var searchUrl = '@Url.Action("SearchByCategory", "Admin")';
            var rsltval = $(this).val();
            if ($(this).val() == "1" || $(this).val() == "2" || $(this).val() == "3") {
            $.ajax({
                url: searchUrl,
                data: { val: rsltval },
                type: "POST",
                success: function (data) {
                    $("#dynm").html(data);
                    $("#dynm table").addClass("table table-bordered table-hover").css({"background-color" : "lightblue","font-weight":"bold"});
                    
                }
            });
        }
        });

        $('#radio').click(function () {
            $("#errorPanel").html('');
            if ($('#addRadioButton').is(':checked'))
            {
                $("#updatePanel").hide();
                $("#addPanel :input[type=text-box]").val('');
                $("#addPanel").show();

            }
            if ($('#updateRadioButton').is(':checked'))
            {

                $("#addPanel").hide();
                $('#updatePanel :input[type=number]').val('');
                $('#updatePanel :input[type=text]').val('');
                $('#updatePanel #OfferDescription').val('');
                $('#updatePanel :input[type=date]').val('');

                $("#updatePanel").show();
                $("#updateButton").show();
                $("#saveButton").hide();
                $("#cancelButton").hide();
                $("#updatePanel :input").attr("disabled", true);
                $("#updatePanel :input[type=button]").attr("disabled", false);
                $("#updatePanel :input[type=date]").attr("disabled", false);

            }
        });
        
        $("#fetchDetails").click(function (e) {
            $("#saveButton").hide();
            $("#cancelButton").hide();
            $("#updateButton").show();
            
                var dateToFetch = $("#updatePanel").find("input[type=date]").val();
                console.log(dateToFetch);
                
                var searchUrl = '@Url.Action("FetchByDate", "Admin")';
                
                    $.ajax({
                        url: searchUrl,
                        data: { date: dateToFetch },
                        type: "POST",
                        
                        success: function (data) {
                            console.log(data);
                            var rs = JSON.parse(data);
                            console.log(rs["OfferName"]);
                            if (rs["ApparelID"] == "0") {
                                $("#resultPanel").html("<h1 style='color:red'>No Offer with  the given date!!!</h2>");
                            }
                            else {
                                $("#resultPanel").html("");
                                
                                $("#updatePanel input[id=OfferName]").val(rs["OfferName"]);
                                $("#updatePanel input[id=ApparelID]").val(rs["ApparelID"]);
                                $("#updatePanel textarea[id=OfferDescription]").val(rs["OfferDescription"]);
                                $("#updatePanel input[id=Discount]").val(rs["Discount"]);

                                $("#updtePanel").html(data);
                                $("#updatePanel :input").attr("disabled", true);
                                $("#updatePanel :input[type=button]").attr("disabled", false);
                                $("#updatePanel :input[type=date]").attr("disabled", false);
                            }
                        }
                    });
            });
        
        $("#updateButton").click(function () {
            $("#updatePanel :input").attr("disabled", false);
            $("#updatePanel input[id=ApparelID]").attr("disabled", true);
            $("#updateButton").hide();
            $("#saveButton").show();
            $("#cancelButton").show();


        });

        $("#cancelButton").click(function () {
            console.log("cancel");
            //$('#updatePanel :input[type=text]').val('');
            $("#fetchDetails").trigger("click");
            
            


        });

        $("#saveButton").click(function (e) {
            if (checkDate()) {
                var searchUrl = '@Url.Action("UpdateOffer", "Admin")';
                var offerName = $("#updatePanel input[id=OfferName]").val();
                var offerDescription = $("#updatePanel textarea[id=OfferDescription]").val();
                var offerDiscount = $("#updatePanel input[id=Discount]").val();
                var offerDate = $("#updatePanel input[id=OfferDate]").val();

                $.ajax({
                    url: searchUrl,
                    data: { offerDate: offerDate, offerName: offerName, offerDescription: offerDescription, offerDiscount: offerDiscount },
                    type: "POST",

                    success: function (data) {
                        console.log(data);
                        if (data == "true") {
                            $("#resultPanel").html("<h1 style='color:green'>Offer Updated Successfully!!!</h1>");
                            $("#updatePanel :input").attr("disabled", true);
                            $("#updatePanel :input[type=date]").attr("disabled", false);
                            $("#updatePanel :input[id=fetchDetails]").attr("disabled", false);

                        }
                        else {
                            $("#resultPanel").html("<h1 style='color:red'>Unable to update Offer!!!</h2>");

                        }
                    }
                });
            }
        });

        $("#deleteButton").click(function (e) {
            var searchUrl = '@Url.Action("DeleteOffer", "Admin")';
            var offerDate = $("#updatePanel input[id=OfferDate]").val();

            $.ajax({
                url: searchUrl,
                data: { offerDate:offerDate},
                type: "POST",

                success: function (data) {
                    console.log(data);
                    if (data=="true") {
                        $("#resultPanel").html("<h2>Offer Deleted Successfully!!!</h2>");
                        $("#updatePanel :input").attr("disabled", true);
                        $("#updatePanel :input[type=date]").attr("disabled", false);
                        $("#updatePanel :input[id=fetchDetails]").attr("disabled", false);

                    }
                    else {
                        $("#resultPanel").html("<h1 style='color:red'>Unable to delete Offer!!!</h1>");

                    }
                }
            });
        });    

    });
    function testfun(e) {
        
        $("#ApparelID").val(e);
    }
    function checkDate() {
        var EnteredDate = $('input[type=date]').val(); // For JQuery
        
        var date = EnteredDate.substring(8, 10);
        var month = EnteredDate.substring(5, 7);
        var year = EnteredDate.substring(0, 4);
        
        var myDate = new Date(year, month - 1, date);

        var today = new Date();

        if (myDate < today) {
            $("#errorPanel").html("<h3 style='color:red'>Entered date should be greater than today's date!</h3> ");
            return false;
        }
        return true;
    }
</script>



<h2>Add or Update Offer</h2>
<div id="radio">
    <label>What would you like to do</label>  <input type="radio" id="addRadioButton" value="Add" name="same" checked>Add &nbsp &nbsp &nbsp
  <input type="radio" id="updateRadioButton" name="same" value="Update">Update
</div>
    <div id="errorPanel" class="message-error"></div>

<div id="addPanel" style="background-color:white;padding:30px">
    @if(@Session["OfferMessage"]=="true"){
    <div><h1 style='color:red'>@Session["ErrorMessage"]</h1></div>
        Session["OfferMessage"] = "false"; Session["ErrorMessage"] = "";
    }
    else
    {
<div><h1 style='color:green'>@ViewBag.Message</h1></div>
        
    }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Offer</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.OfferName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferName)
            @Html.ValidationMessageFor(model => model.OfferName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfferDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferDescription)
            @Html.ValidationMessageFor(model => model.OfferDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
            
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.categoryData, "Value", "Text"))
           
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <br /><div id="dynm"></div><br />
        
        <div class="editor-label">
            @Html.LabelFor(model => model.OfferDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferDate)
            @Html.ValidationMessageFor(model => model.OfferDate)
        </div>

        <div class="editor-label" >
            @Html.LabelFor(model => model.ApparelID)
        </div>
        <div class="editor-field" id="apparelIDToChange">
            @Html.EditorFor(model => model.ApparelID)
            @Html.ValidationMessageFor(model => model.ApparelID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Discount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Discount)
            @Html.ValidationMessageFor(model => model.Discount)
        </div>

        <p>
            <input type="submit" value="Create" onclick="return checkDate();" style="margin-left:200px"/>
        </p>
    </fieldset>
}
</div>

<div id="updatePanel" style="background-color:white;padding:30px">
    <div id="resultPanel"></div>
    <h1>Update</h1>
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Offer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfferDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferDate)
            @Html.ValidationMessageFor(model => model.OfferDate)
        </div>
        <input type="button" value="Fetch Details" class="btn-success" id="fetchDetails" style="margin: 5px 5px 20px 200px" /><br />

        <div class="editor-label">
            @Html.LabelFor(model => model.OfferName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferName)
            @Html.ValidationMessageFor(model => model.OfferName)
        </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.ApparelID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApparelID)
            @Html.ValidationMessageFor(model => model.ApparelID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfferDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferDescription)
            @Html.ValidationMessageFor(model => model.OfferDescription)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Discount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Discount)
            @Html.ValidationMessageFor(model => model.Discount)
        </div>

        
            <table style="margin-left:200px"><tr>
                <td><input type="button" value="Delete Offer" class="btn-success" id="deleteButton" /></td>
            
                <td ><input type="button" value="Update Offer" class="btn-success" id="updateButton" /><input type="button" value="Save" id="saveButton" /><input type="button" value="Cancel" id="cancelButton" /></td>
                   </tr>
            </table>
    </fieldset>
    }

</div>

<style>
    .editor-label {
        float:left;
        width:200px;
    }
    label {
        width:250px;
    }
    .editor-field {
        margin-bottom:20px;
    }
    [type="radio"] {
        width:30px;
    }
   
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
