@model IEnumerable<FashionableMe.Models.Apparel>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
    AppID = ""; UserID=""; currentRating=0;
    function showDetails(id, name, brand, description, image){
        $("#apparelId").val(id);
        $("#apparelName").text(name);
        $("#brandName").text(brand);
        $("#apparelDescription").text(description);
        //$("#apparelDiscount").text(discount);
        console.log(image);
        
        $("#apparelImage").attr("src",image);
        //var sellingFare = cost - ((cost*discount)/100.0);
        //$("#originalFare").text(cost);
        //$("#sellingFare").text(sellingFare);
        //console.log(id);
        rsltval = id;
        var searchUrl = '@Url.Action("getQuantityDetails", "Customer")';
            $.ajax({
                url: searchUrl,
                data: { apparelID: rsltval },
                type: "POST",
                success: function (data) {
                    var data = JSON.parse(data);
                    $("#quantityS").val('0')
                    $("#quantityM").val('0')
                    $("#quantityL").val('0')

                    for (var i = 0; i < data.length; i++) {
                        if(data[i].ApparelSize == "S"){
                            $("#apparelDiscountS").text(data[i].ApparelDiscount);
                            $("#originalFareS").text(data[i].ApparelCost);
                            $("#sellingFareS").text((data[i].ApparelCost - (data[i].ApparelCost*data[i].ApparelDiscount/100)).toFixed(2));
                            $("#quantityS").val(data[i].ApparelQuantity);

                        }
                        else if(data[i].ApparelSize == "M"){
                            $("#apparelDiscountM").text(data[i].ApparelDiscount);
                            $("#originalFareM").text(data[i].ApparelCost);
                            $("#sellingFareM").text((data[i].ApparelCost - (data[i].ApparelCost*data[i].ApparelDiscount/100)).toFixed(2));
                            $("#quantityM").val(data[i].ApparelQuantity);

                        }
                        if(data[i].ApparelSize == "L"){
                            $("#apparelDiscountL").text(data[i].ApparelDiscount);
                            $("#originalFareL").text(data[i].ApparelCost);
                            $("#sellingFareL").text((data[i].ApparelCost - (data[i].ApparelCost*data[i].ApparelDiscount/100)).toFixed(2));
                            $("#quantityL").val(data[i].ApparelQuantity);

                        }

                    }
                    $(".apparelCategoryS").hide();
                    $(".apparelCategoryM").hide();
                    $(".apparelCategoryL").hide();
                    for (var i = 0; i < data.length; i++) {
                        if(data[i].ApparelSize == "S"){
                            if(parseInt(data[i].ApparelQuantity) >0){
                                $(".apparelCategoryS").show();
                                $('#sizeDropDown option[value=S]').prop('selected', true);
                                break;

                            }
                        }
                        else if(data[i].ApparelSize == "M"){

                            if(parseInt(data[i].ApparelQuantity) >0){
                                $(".apparelCategoryM").show();
                                $('#sizeDropDown option[value=M]').prop('selected', true);
                                break;

                            }
                        }
                        if(data[i].ApparelSize == "L"){
                            if(parseInt(data[i].ApparelQuantity) >0){
                                $(".apparelCategoryL").show();
                                $('#sizeDropDown option[value=L]').prop('selected', true);
                                break;

                            }
                        }
                    }
                }
            });
        $("#listPanel").hide();
        $("#searchPanel").hide();
        $("#detailsPanel").show();
        $("#ratingPanel").show();
        getRating(id);
        //console.log(id, name, brand, description, image);
    }

    function getRating(id)
    {
        var searchUrl = '@Url.Action("getRatingDetails", "Customer")';
        $.ajax({
            url: searchUrl,
            data: { apparelID: id.trim() },
            type: "POST",
            success: function (data){
                AppID = data.ApparelID;
                UserID = data.UserID;
                currentRating = data.userRating;
                $("#prodRate").val(data.ApparelRating).prop("disabled",true).css({"background-color":"lightgrey"});
                $("#comment").val(data.Comment).prop("disabled",true).css({"background-color":"lightgrey"});
                $("#userRate").val(data.userRating);
                $("#userComment").val(data.userComment);
                if(!data.canRate)
                {
                    $("#userRate,#userComment,#reviewButton").prop("disabled",true).css({"cursor":"default","background-color":"lightgrey"});
                }
            }
        });
    }

    function sendData(){
        var id = $("#apparelId").val().trim();
        var size = $("#sizeDropDown").val().trim();
        console.log(id, size);
        

        var link = '@Html.Raw(@Url.Action("OrderNow", "Cart", new { id = -1, size= -2 }))';
        link = link.replace("-1", id);
        link = link.replace("-2", size);
        console.log(link);
        window.location = link;
    }
    $(document).ready(function () {
        $("#detailsPanel").hide();
        
        $("#sizeDropDown").change(function (e) {
            e.preventDefault();
            var rsltval = $(this).val();
            console.log("dropval");
            console.log(rsltval);
            $(".apparelCategoryS").hide();
            $(".apparelCategoryM").hide();
            $(".apparelCategoryL").hide();
            $("#addToCart").attr("disabled", false);

            if(rsltval == "S"){
                $(".apparelCategoryS").show();
                console.log($("#quantityS").val());
                if(parseInt($("#quantityS").val())<1)
                    $("#addToCart").attr("disabled", true);

            }
            if(rsltval == "M"){
                console.log($("#quantityM").val());

                $(".apparelCategoryM").show();
                if(parseInt($("#quantityM").val())<1)
                    $("#addToCart").attr("disabled", true);
            }
            if(rsltval == "L"){
                console.log($("#quantityL").val());

                $(".apparelCategoryL").show();
                if(parseInt($("#quantityL").val())<1)
                    $("#addToCart").attr("disabled", true);
            }
                


        });
        $("#backToCollection").click(function(){
            $("#sizeDropDown").val("0");
            $("#detailsPanel").hide();
            $("#listPanel").show();
        });

        $("#searchButton").click(function(){
            var srch = $("#searchBox").val().trim().toLowerCase();
            var count = 0;
            $("#apparelList tr:gt(0)").each(function(j){
                var present = 0;
                for (i in [0,1,2]) {
                    present += ($(this).children("td").eq(i).text().toLowerCase().search(srch)) >= 0 ? 1 : 0 ;
                }
                if(present == 0)
                    $(this).prop("class","hideRow");
            });
            $(".hideRow").hide();
        });

        $("#clearSearch").click(function(){
            $(".hideRow").show();
            $("#searchBox").val("");
            $(".hideRow").prop("class","");
        });

        //$("tr:odd").css("background-color","lightblue")
        $("#searchBox").on("input", function(){
            var inputVal = $(this).val();
            var characterReg = /^([a-zA-Z0-9]{3,15})$/;
            if(!characterReg.test(inputVal))
            {
                $("#error").text("Only 3 to 15 number of AlphaNumeric characters").css("color","red");
                $("#searchButton").prop("disabled",true).css("cursor","default");
            }
                
            else
            {
                $("#error").text("");
                $("#searchButton").prop("disabled",false).css("cursor","pointer");
            }
                
        });

        $("#reviewButton").click(function(e){
            if ($("#userRate").val() == 0 ) {
                $("#erroMessage").text("Please Rate before Submitting Review").css("color","red");
                return;
            }  
            else
                $("#erroMessage").text("");
            var searchUrl = '@Url.Action("UpdateRatingDetails", "Customer")';
            $.ajax({
                url: searchUrl,
                data: { apparelID: AppID , userID : UserID, rating : parseInt($("#userRate").val()), comment:$("#userComment").val(), currRating : currentRating },
                type: "POST",
                success: function (data){
                    console.log(data.state);
                    $("#userRate,#userComment,#reviewButton").prop("disabled",true).css({"cursor":"default","background-color":"lightgrey"});
                }
            });
        });

    });
    </script>
<h2 style="color:cadetblue">@ViewBag.Title</h2>

<div id="searchPanel" style="float:right">
    <label id="error"></label>
    <input id="searchBox" placeholder="Search here" /> &nbsp &nbsp &nbsp
    <input id="searchButton" type="button" value="Search" /><br />
    <a id="clearSearch" style="float:right">Clear Search</a><br />
</div>
<br /><br /><br />

<div id="listPanel">
<table id="apparelList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApparelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApparelImage)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.ApparelRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApparelSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApparelQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApparelDiscount)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApparelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            
            <img src="@Url.Content(item.ApparelImage)" alt="Image" />
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ApparelCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApparelAddTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApparelRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApparelSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApparelQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApparelDiscount)
        </td>*@
        <td>
            <input type="button" value="View Details" onclick="showDetails('@(item.ApparelID)    ', '@(item.ApparelName)    ', '@(item.BrandName)    ', '@(item.Description)    ', '@(item.ApparelImage) ')" />
            
            @*@Html.ActionLink("View Details", "Details", new { id=item.ApparelID }) |*@
        </td>
    </tr>
}
    
</table>
    </div>
<div id="detailsPanel">
    <input type="hidden" id="apparelId"  />
    <input type="hidden" id="quantityS"  />
    <input type="hidden" id="quantityM"  />
    <input type="hidden" id="quantityL"  />
    <table>
            
        <tr><td>Name of the Apparel</td><td id="apparelName"></td></tr>
        <tr><td>Brand Name</td><td id="brandName"></td></tr>
        <tr><td>Apparel Description</td><td id="apparelDescription"></td></tr>
        <tr><td>Discount Percentage</td><td class="apparelCategoryS" id="apparelDiscountS"></td><td class="apparelCategoryM" id="apparelDiscountM"></td><td class="apparelCategoryL" id="apparelDiscountL"></td></tr>
        <tr><td>Apparel Image</td><td ><img id="apparelImage" src=""/></td></tr>
    </table>
        <br />
    <table>
        <tr>
            <td align="left"><input type="button" id="backToCollection" value="Back To Collection" /></td> 
            <td align="right"><label >Original Fare:</label><label class="apparelCategoryS" id="originalFareS"></label><label class="apparelCategoryM" id="originalFareM"></label><label class="apparelCategoryL" id="originalFareL"></label>
        </tr>
        <tr>
            <td><label>Select from the Available Size</label>
                 <select id="sizeDropDown"> 
                     <option value="E">--Select--</option>
                     <option value="S">S</option>
                     <option value="M">M</option>
                     <option value="L">L</option>
                 </select>
                </td>
            <td>
                <label style="align-self:center">Selling Fare:</label><label class="apparelCategoryS" id="sellingFareS"></label><label class="apparelCategoryM" id="sellingFareM"></label><label class="apparelCategoryL" id="sellingFareL"></label>
            </td>
        </tr>
    </table>
    <input type="button" id="addToCart" value="Add to Cart" style="align-self:flex-end;background-color:green" onclick="sendData()"/>

</div>
<br />
<br />
<form id="ratingPanel" hidden>
    <label>Rating Given To This Product : </label><input id="prodRate" style="font-weight:bold;width:50px ; text-align:center"/>
    <label>Latest Comments : </label><textarea id="comment" style="height:200px;width:800px"></textarea>
    <label>Please Rate This Product : </label>
    <select id="userRate">
        <option value="0">Not Rated</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label>Write a Review : </label><textarea id="userComment" style="height:200px;width:800px"></textarea><br />
    <label id="erroMessage"></label>
    <input id="reviewButton" type="button" value="Submit Review"/>
    
</form>


