@model FashionableMe.Models.Apparel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript">
    AppID = ""; UserID=""; currentRating=0;
    itemDetails = {};
    function showDetails(){
        
        var rsltval = '@Model.ApparelID' ;
        var searchUrl = '@Url.Action("getQuantityDetails", "Customer")';
        $.ajax({
            url: searchUrl,
            data: { apparelID: rsltval },
            type: "POST",
            success: function (data) {
                var data = JSON.parse(data);
                $("#quantityS").val('0')
                $("#quantityM").val('0')
                $("#quantityL").val('0')
                $("#apparelImage").attr("src", '@Model.ApparelImage');

                for (var i = 0; i < data.length; i++) {
                    if(data[i].ApparelSize == "S"){
                        $("#apparelDiscountS").text(data[i].ApparelDiscount);
                        $("#originalFareS").text(data[i].ApparelCost);
                        $("#sellingFareS").text((data[i].ApparelCost - (data[i].ApparelCost*(data[i].ApparelDiscount + parseFloat(@ViewBag.OfferDiscount)) /100)).toFixed(2));
                        $("#quantityS").val(data[i].ApparelQuantity);

                        

                    }
                    else if(data[i].ApparelSize == "M"){
                        $("#apparelDiscountM").text(data[i].ApparelDiscount);
                        $("#originalFareM").text(data[i].ApparelCost);
                        $("#sellingFareM").text(data[i].ApparelCost - ((data[i].ApparelCost*(data[i].ApparelDiscount+ parseFloat(@ViewBag.OfferDiscount)) /100)).toFixed(2));
                        $("#quantityM").val(data[i].ApparelQuantity);

                    }
                    if(data[i].ApparelSize == "L"){
                        $("#apparelDiscountL").text(data[i].ApparelDiscount);
                        $("#originalFareL").text(data[i].ApparelCost);
                        $("#sellingFareL").text((data[i].ApparelCost - (data[i].ApparelCost*(data[i].ApparelDiscount+ parseFloat(@ViewBag.OfferDiscount)) /100)).toFixed(2));
                        $("#quantityL").val(data[i].ApparelQuantity);

                    }

                }
                $(".apparelCategoryS").hide();
                $(".apparelCategoryM").hide();
                $(".apparelCategoryL").hide();
                for (var i = 0; i < data.length; i++) {
                    if(data[i].ApparelSize == "S"){
                        if(parseInt(data[i].ApparelQuantity) >0){
                            $(".apparelCategoryS").show();
                            $('#sizeDropDown option[value=S]').prop('selected', true);
                            $("#addToCart").show();
                            break;

                        }
                    }
                    else if(data[i].ApparelSize == "M"){

                        if(parseInt(data[i].ApparelQuantity) >0){
                            $(".apparelCategoryM").show();
                            $('#sizeDropDown option[value=M]').prop('selected', true);
                            $("#addToCart").show();
                            break;

                        }
                    }
                    if(data[i].ApparelSize == "L"){
                        if(parseInt(data[i].ApparelQuantity) >0){
                            $(".apparelCategoryL").show();
                            $('#sizeDropDown option[value=L]').prop('selected', true);
                            $("#addToCart").show();
                            break;

                        }
                    }
                }
            }
        });
        $("#ratingPanel").show();
        getRating(rsltval);
    }
       
    function getRating(id)
    {

        var searchUrl = '@Url.Action("getRatingDetails", "Customer")'; 
        $.ajax({
            url: searchUrl,
            data: { apparelID: id.toString() },
            type: "POST",
        
            success: function (data){
                AppID = data.ApparelID;
                UserID = data.UserID;
                currentRating = data.userRating;
                $("#prodRate").val(data.ApparelRating).prop("disabled",true).css({"background-color":"lightgrey"});
                $("#comment").val(data.Comment).prop("disabled",true).css({"background-color":"lightgrey"});
                $("#userRate").val(data.userRating);
                $("#userComment").val(data.userComment);
                $("#userRate,#userComment").prop("disabled",false).css({"cursor":"default","background-color":"white"});
                $("#reviewButton").prop("disabled",false).css({"cursor":"pointer","background-color":"white"})
                //if(!data.canRate)
                //{
                //    $("#userRate,#userComment,#reviewButton").prop("disabled",true).css({"cursor":"default","background-color":"lightgrey"});
                //}
                console.log("got : ",UserID);
    }
        });
    }



    function sendData(){
        var id = '@Model.ApparelID';
        var size = $("#sizeDropDown").val().trim();
        $("#idONO").val(id);
        $("#sizeONO").val(size);
        $("#offerDiscountONO").val('@ViewBag.OfferDiscount');
        $("#offerIDONO").val('@ViewBag.OfferID');
        document.forms["ordernowoffer"].submit();
    }

    function loadItems(){
        var srchUrl = '@Url.Action("getFromSession", "Customer")';
        $.ajax({
            url : srchUrl,
            type : "POST",
            datatype : 'json',
            data : { sender : "item" },
            success : function(data){
                console.log(" Got From Server : ", data);
                if (data != null) 
                {
                    showDetails();
                    $("#userRate").val(data.newRating);
                    $("#userComment").val(data.newComment);
                }
            }
        });
    }


    $(document).ready(function (){
        showDetails();
        $("#addToCart").hide();

        $("#sizeDropDown").change(function (e) {
            e.preventDefault();
            var rsltval = $(this).val();
            //console.log("dropval");
            //console.log(rsltval);
            $(".apparelCategoryS").hide();
            $(".apparelCategoryM").hide();
            $(".apparelCategoryL").hide();
            if(rsltval == "E"){
                $("#addToCart").hide();
            }
                //$("#addToCart").attr("disabled", false);
            else{
                $("#addToCart").show();


            if(rsltval == "S"){
                $(".apparelCategoryS").show();
                    //console.log($("#quantityS").val());
                    if(parseInt($("#quantityS").val())<1){
                        //$("#addToCart").attr("disabled", true);
                        $("#addToCart").hide();
                    }

            }
            if(rsltval == "M"){
                    //console.log($("#quantityM").val());

                $(".apparelCategoryM").show();
                    if(parseInt($("#quantityM").val())<1){
                        //$("#addToCart").attr("disabled", true);
                        $("#addToCart").hide();
                    }
            }
            if(rsltval == "L"){
                    //console.log($("#quantityL").val());

                $(".apparelCategoryL").show();
                    if(parseInt($("#quantityL").val())<1){
                        //$("#addToCart").attr("disabled", true);
                        $("#addToCart").hide();
                    }
            }
                
            }
        });
        
        $("#reviewForm").submit(function(e){
            console.log("user id = ",UserID);
            if ($("#userRate").val() == 0 )
            {
                $("#erroMessage").text("Please Rate before Submitting Review").css("color","red");
                return false;
            }  
            else
                $("#erroMessage").text("");

            if(UserID != null) 
            {
                var searchUrl = '@Url.Action("UpdateRatingDetails", "Customer")';
                $.ajax({
                    url: searchUrl,
                    data: { apparelID: AppID , userID : UserID, rating : parseInt($("#userRate").val()), comment:$("#userComment").val(), currRating : currentRating },
                    type: "POST",
                    success: function (data){
                        //console.log(data.state);
                        $("#userRate,#userComment,#reviewButton").prop("disabled",true).css({"cursor":"default","background-color":"lightgrey"});
                    }
                });
                return false;
            }
            console.log("User Id = ",UserID);
            itemDetails.id = '@Model.ApparelID'; 
            itemDetails.name = '@Model.ApparelName'.ToString();
            itemDetails.brand = '@Model.BrandName'.ToString();
            itemDetails.description = '@Model.Description'.ToString();
            itemDetails.image = '@Model.ApparelImage'.ToString();
            itemDetails.newRating = $("#userRate").val();
            itemDetails.newComment = $("#userComment").val();
            var srchUrl = '@Url.Action("setToSession", "Customer")';
                
            $.ajax({
                type : "POST",
                url: srchUrl ,
                dataType: 'json',
                data : itemDetails ,
                success : function() {}
            });

        });

        });
        

    $(window).bind("load", function() {
        loadItems();
    });

    </script>
<h2 style="color:cadetblue">@ViewBag.Title</h2>


<br /><br /><br />
@if (ViewBag.OfferTitle == "none")
{
    <div><h1 style="color:red">No Offers Today!</h1></div>
}
else
{
<div id="detailsPanel">
    <input type="hidden" id="apparelId"  />
    <input type="hidden" id="quantityS"  />
    <input type="hidden" id="quantityM"  />
    <input type="hidden" id="quantityL"  />
    <table class="table table-striped table-condensed" style="border:2px solid grey;background-color:lightblue">
            
        <tr><td>Offer Name</td><td id="OfferName">@ViewBag.OfferName</td></tr>
        <tr><td>Brand Name</td><td id="brandName">@Model.BrandName</td></tr>
        <tr><td>Offer Description</td><td id="OfferDescription">@ViewBag.OfferDescription</td></tr>
        <tr><td>Normal Discount Percentage</td><td class="apparelCategoryS" id="apparelDiscountS"></td><td class="apparelCategoryM" id="apparelDiscountM"></td><td class="apparelCategoryL" id="apparelDiscountL"></td></tr>
        <tr><td>Additional Discount as per the Offer</td><td id="OfferDiscount">@ViewBag.OfferDiscount</td></tr>
        <tr><td>Apparel Image</td><td ><img src="" id="apparelImage"/></td></tr>
    </table>
        <br />
    <table class="table table-striped table-condensed" style="border:2px solid grey">
        <tr>
            <td align="left"><input type="button" id="backToCollection" value="Back To Offers" onclick="location.href= '@Url.Action("Index", "Home")'"/></td> 
            <td align="right"><label >Original Fare:</label><label class="apparelCategoryS" id="originalFareS"></label><label class="apparelCategoryM" id="originalFareM"></label><label class="apparelCategoryL" id="originalFareL"></label>
        </tr>
        <tr>
            <td><label>Select from the Available Size</label>
                 <select id="sizeDropDown"> 
                     <option value="E">--Select--</option>
                     <option value="S">S</option>
                     <option value="M">M</option>
                     <option value="L">L</option>
                 </select>
                </td>
            <td>
                <label style="align-self:center">Selling Fare:</label><label class="apparelCategoryS" id="sellingFareS"></label><label class="apparelCategoryM" id="sellingFareM"></label><label class="apparelCategoryL" id="sellingFareL"></label>
            </td>
        </tr>
    </table>
    <input type="button" id="addToCart" value="Add to Cart" class="btn btn-success" style="margin-left :400px;background-color:green" onclick="sendData()"/>

</div>


<form id='ordernowoffer' action="/Cart/OrderNowOffer" method="post">
    <input type="hidden" name="id" id="idONO"/>
    <input type="hidden" name="size" id="sizeONO"/>
    <input type="hidden" name="offerDiscount" id="offerDiscountONO"/>
    <input type="hidden" name="offerID" id="offerIDONO"/>
</form>
    
    
    
using (Html.BeginForm("getReturnUrl", "Account", new { returnUrl = Request.RawUrl }, FormMethod.Post, new { id = "reviewForm" } ))
{
    <br />
<div id="ratingPanel" hidden >
    <label>Rating Given To This Product : </label><input id="prodRate" style="font-weight:bold;width:50px ; text-align:center"/><br />
    <label>Latest Comments : </label><textarea id="comment" style="height:200px;width:800px"></textarea><br />
    <label>Please Rate This Product : </label>
    <select id="userRate">
        <option value="0">Not Rated</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br />
    <label>Write a Review : </label><br />
    <textarea id="userComment" style="height:200px;width:800px"></textarea><br /><br />
    <label id="erroMessage"></label>
    <input id="returnUrl" hidden value="/Customer/Her" />
    <input id="reviewButton" type="submit" value="Submit Review" class="btn-default" style="margin-left :400px"  />
    
</div>
}
}

<style>

     #detailsPanel table tr td:first-child {
        font-weight:bolder;
    }

    #detailsPanel table tr td img:hover {
        transform: scale(3);
    }

    td img {
        border:2px ridge black;
    }

</style>
